.colors {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 1.5em;
  margin-bottom: 2em;
}

.color {
  &__sample {
    padding-bottom: 100%;
    height: 0;
    &.color--body {
      border : 1px solid hsl(var(--text-HS), 75%);
    }
  }

  &--primary {
    background: var(--primary-color);
  }

  &--secondary {
    background: var(--secondary-color);
  }

  &--tertiary {
    background: var(--error-color);
  }

  &--accent {
    background: var(--warning-color);
  }

  &--dark {
    background: var(--dark-color);
  }

  &--border {
    background: hsl(var(--text-HS), 75%);
  }

  &--text {
    background : var(--text-color);
  }

  &--body {
    background : var(--theme-color);
  }

  &__info {
    text-align: center;
    border: 1px solid hsl(var(--text-HS), 75%);
    border-top: none;
    padding: 1em;
    background : #fff;
  }

  &__name,
  &__code {
    margin: 0;
  }

  &__name {
    font-weight: 700;
  }
}
