extends layouts/template-blog
append config
  -currentPage = 'Blog'
//- block banner
//-   include components/slider
block main
  include components/article-blog.html
  //- include components/contacts.html