extends layouts/template
append config
  -currentPage = 'Inicio'
//- block banner
//-   include components/slider
block main
  include components/nosotros.html
  //- include components/cards.html
  include components/divider-1.html
  include components/company.html
  include components/datacenter.html
  include components/ourTeam.html
  include components/divider-1.html
  include components/columns.html
  include components/divider-1.html
  include components/networks.html
  include components/divider-2.html
  include components/contacts.html