.article-blog {
  img {
    margin-left: auto;
    margin-right: auto;
  }
  p, blockquote {
    margin-bottom: .7rem;
    @include from(l) {
      margin-bottom: 1rem;
    }
  }
  li {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: .5rem;
      left: -1.5rem;
      background-color: var(--primary-color);
      width: .5rem;
      height: .5rem;
    }
  }
  a, strong {
    word-break: break-word;
  }
  a {
    color: var(--primary-color);
    &:hover {
      color: var(--error-color);
    }
  }
}
.article-paginate {
  margin: auto;
}
.article-paginate ul {
  display:flex;
  margin-top: .5rem;
  padding-left: 0;
  justify-content: center;
}
.article-paginate li {
  margin-left: .25rem;
  margin-right: .25rem;
}
.article-paginate li a {
  background: var(--theme-400);
  padding: 1rem 1.3rem;
  border-radius: 3px;
}
.article-paginate li a.active {
  background: var(--theme-500);
}
.article-paginate li a:hover {
  text-decoration: none;
  background: var(--theme-500);
}
.articles-container {
  figure img {
    object-fit: cover;
    width: 100%;
    height: 14rem;
  }
}