.main-header {
  // border-bottom : 1px solid hsla(var(--text-HS), 5%);
  max-height: 100vh;
  overflow: auto;
  transition: 1s all;
  @include to (m) {
    a {
      text-align: end;
    }
  }
  .logo-container {
    svg {
      height: 6rem;
      transition: .5s all;
    }
  }
}
