.ed-modal-container {
  position   : fixed;
  width      : 100%;
  height     : 100%;
  left       : 0;
  top        : 0;
  background : hsla(var(--theme-HSL), 90%);
  display    : flex;
  z-index    : var(--z-modal);

  &::before{
    content    : "";
    width      : 3rem;
    height     : 3rem;
    background : img('icon-close.svg');
    position   : absolute;
    top        : 2rem;
    right      : 2rem;
    cursor     : pointer;
  }
}

.ed-modal-content {
  @include widget;
  width     : 90%;
  max-width : 1000px;
  margin    : auto;
  padding : 2rem;
  border-radius : .25rem;
}

.video {
  width          : 100%;
  position       : relative;
  height         : 0;
  padding-bottom : 56.25%;
  overflow       : hidden;

  iframe {
    width    : 100%;
    position : absolute;
    top      : 0;
    left     : 0;
    height   : 100%;
  }
}
