.title, [class*="title--"]{
  color: #FFF;
  background: linear-gradient(var(--primary-color), var(--primary-dark-3));
}
.title--second   {  }
.title--tertiary {  }
.title--dark     {  }
.title--accent   {  }