#globeArea {
  height: 120vw;
  @include from(m) {
    position: absolute;
    width: 90vw;
    height: 90vw;
    opacity: .8;
    left: -125%;
    max-width: 1300px;
    max-height: 1300px;
    top: 50%;
    transform: translateY(-50%);
  }
  &::after {
    content : '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1000;
  }
}