- var currentPage = 'Inicio'
- var siteName = 'Actel Networks'
- var slogan = ''
- var description = ''

//-Site Version
- var siteVersion = '1.0.0'

//- Root images/svg
- var path_media = '/resources/'

//- Root pages
- var path_page = '/demo/'