block config
  include config
include ../mixins/main-banner
doctype html
html(lang="es" prefix="og: http://ogp.me/ns#")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    if (currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) == 'Inicio')
      title= siteName + ' ' + slogan
      meta(property="og:title" content=currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName)
    else
      title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName + ' ' + slogan
      meta(property="og:title" content=currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName)
    meta(name='designer', content='Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com')
    meta(name="description" content=description)
    meta(property="og:description" content=description)  
    meta(name='author', content='')
    meta(name='keywords', content='')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:700")
    link(rel="stylesheet" href= path_media + "css/styles.css?v=" + siteVersion)
  body(class=currentPage)
    .actel#start
      .relative
        include ../components/header-blog
        include ../components/initial-blog
      block topbar
      //- block banner
      .w-full
        main.main-main.px-0
          block main
      include ../components/footer.html
    script(src= path_media + "js/modernizr.js")
    script(src= path_media + "js/script.js?v=" + siteVersion)
