td [class*="button"] {
  display: inline;

  &:last-child {
    margin-right : 0;
  }
}
.made-in{
  opacity: .28;
  &:hover{
    opacity: 1;
  }
}
.initial-blog {
  img {
    width: 100%;
    object-fit: cover;
    // object-position: center;
    height: 270px;
  }
}