<section class="bg-theme-200">
  <div class="container mx-auto flex flex-wrap py-16">
    <div class="md:px-5 w-full lg:w-3/4 mb-10">
      <article class="relative shadow-lg article-blog w-full px-8 pt-24 pb-5 -mt-32 bg-theme-250">
        <div class="absolute left-0" style="top: 2rem;">
          <strong class="text-xl px-5 py-1 bg-primary-base text-theme-base uppercase">Data center</strong>
        </div>
        <h1>ECOSISTEMAS DE NEGOCIOS: LOS “MUST” DEL DATA CENTER</h1>
        <p>Estar cerca de tus socios de negocio y generar la sinergia que demandan sus clientes es la razón de ser de muchos centros de datos, mucho más allá de sus características básicas de baja latencia, respaldos, certificaciones y seguridad. El nombre del juego hoy es la interconexión, con el fin de reducir los costos, optimizar los ingresos y establecer una clara diferencia ante la competencia.
        </p>
        <p>Cuando la nube empezó a tomar auge y muchas organizaciones consideraron la opción de contratar los servicios de un centro de datos, solía dársele especial importancia a rasgos como su entorno controlado, los sistemas de alimentación eléctrica y refrigeración, redundancia y todo lo referente a la seguridad física y lógica.
        </p>
        <p>Conforme las cosas avanzaron y la transformación digital tocó a más empresas, se cayó en la cuenta de que, si bien tener todo ese poder de procesamiento era esencial, el protagonismo de los usuarios, así como el poder de procesamiento de las nuevas herramientas de colaboración, requerían de centros de datos más cercanos y distribuidos, pues esa era la única forma de hacer realidad las promesas del Internet de las cosas (IoT).
        </p>
        <p class="text-center">Aunado a ello, tecnologías emergentes como el aprendizaje profundo y las redes neuronales, que tienen un potencial revolucionario, se ven obstaculizadas por tiempos de ejecución pesados y requisitos de energía masivos.
        </p>
        <img src="index.php?rex_media_type=redactorImage&amp;rex_media_file=ecosistemas-de-negocios-los-must-del-data-center.jpg"><br>
        <h2><strong>Los cimientos</strong></h2>
        <p>Es en este contexto en el que surge<strong>&nbsp;Edge computing</strong>, el cual ofrece una&nbsp;<strong>alternativa más eficiente: los datos se procesan más cerca del punto donde se crean y ello permite un análisis más rápido y completo</strong>, brindando así la oportunidad de obtener información más profunda, tiempos de respuesta ágiles y mejores experiencias del cliente.
        </p>
        <p>Todo esto dio pie a que se pusiera en boga el tema de la&nbsp;<strong>latencia</strong>, que no es más que el&nbsp;<strong>tiempo exacto que tarda en transmitirse información dentro de la red</strong>&nbsp;(es decir, los milisegundos que le lleva a tu conexión local comunicarse con un equipo remoto en la red IP y viceversa).
        </p>
        <p>La latencia ha sido todo un desafío para las empresas de distribución de contenido (como Netflix), los fanáticos de los videojuegos en modalidad&nbsp;<em>streaming</em>, el sector financiero y el comercio electrónico. Pero hoy, gracias a los servicios de los centros de datos, muchas empresas han dejado de preocuparse por ella, según comentó Santiago Suinaga Sáinz, Director de KIO Data Center Services, durante el webinar “<em><strong>Fish where the fish are: Estrategias para elegir un data center adecuado para tu negocio”</strong></em>, organizado por KIOllege.
        </p>
        <h2><strong>Aceleradores</strong></h2>
        <p><strong>La tecnología 5G será una gran oportunidad para Edge Computing</strong>, pues brindará la oportunidad de cumplir promesas que antes parecían imposibles, como que los médicos sean capaces de realizar procedimientos quirúrgicos remotos complejos utilizando robots, o que las ciudades recopilen información en tiempo real sobre el tráfico, el tiempo y la delincuencia.
        </p>
        <p>De acuerdo con José Luis Friebel, Managing Director Spain &amp; Latam de DatacenterDynamics, la 5G&nbsp;<strong>hará que los trabajadores sean mucho más ágiles</strong>, ya que la conexión a la red será mucho más viable y podrán abrir documentos más rápidamente cuando estén fuera de su lugar de trabajo, lo que permitirá realizar tareas cuando estén, por ejemplo, en el tren, sin la necesidad de que estén físicamente en la oficina
        </p>
        <p>Al eliminarse los problemas de velocidad y latencia, se pueden combinar formas más rápidas de atender a los clientes con opciones más inteligentes de hacer negocios. Las aplicaciones, por ejemplo, estarán mucho más conectadas, serán más potentes y apostarán más por la imagen y el video que nunca.
        </p>
        <p>En el centro de estos desarrollos estará el servicio al cliente y la resolución de problemas. Pero quizás, lo más asombroso sea la información que se recopile de los dispositivos inteligentes conectados de las empresas, ya que ofrecerá una imagen de datos más amplia que se centrará continuamente en la redefinición de los servicios, adelantó Friebel.
        </p>
        <p>En una década ya hablaremos de&nbsp;<strong>6G, que alcanzará una velocidad de descarga de hasta 1 TB por segundo&nbsp;</strong>e incluso podría cubrir la comunicación bajo el agua. Por lo pronto, los centros de datos Edge posibilitan que la información no estructurada (audios, imágenes, fotografías o videos) recopilada por las redes perimetrales pueda procesarse localmente para brindar servicios rápidos o devolverse al núcleo de la red, donde los poderosos programas analíticos y de aprendizaje automático la examinarán para identificar tendencias o datos valiosos.
        </p>
        <p>Así, al incorporar nuevos dispositivos IoT en tu arquitectura de red de borde, tu compañía puede ofrecer nuevos y mejores servicios a sus clientes sin tener que ampliar su infraestructura de TI, debido a que los dispositivos diseñados para este propósito brindan una espectacular gama de posibilidades a las organizaciones que valoran la innovación como un medio para impulsar el crecimiento.
        </p>
        <p>De hecho, Edge es un gran beneficio para las industrias que buscan expandir el alcance de la red en regiones con conectividad limitada, como el sector salud o la manufactura. Al final del día, lo que se prevé es otorgar a cada organización lo que mejor se adecue a su operación, y ello puede incluir los servicios de un data center tradicional, un Edge o la combinación de ambos.
        </p>
        <p><img src="https://actelnetworks.com/demo/es/blog/ecosistemas-de-negocios-los-must-del-data-center/index.php?rex_media_type=redactorImage&rex_media_file=ecosistemas-de-negocios-los-must-del-data-center-2.webp"><br></p>
        <h2><strong>Nuestra oferta</strong></h2>
        <p>KIO Networks es una empresa mexicana con presencia internacional en 5 países, con 18 años de experiencia y operación ininterrumpida de sistemas de información de misión crítica.
        </p>
        <blockquote>“Desde entonces hemos construido ecosistemas de industria como banca, retail, gobierno, salud, proveedores de servicios cloud y contenido o empresas de telecomunicaciones que tienen centrales para dar servicio y soporte a sus usuarios; además de enlaces entre organismos e intercambio de información, pues al encontrarse todo en el mismo inmueble o ambiente físico, se establecen&nbsp;<strong>interconexiones</strong>&nbsp;o crossconexiones que&nbsp;<strong>pueden sustituir enlaces de telecomunicaciones tradicionales, haciendo mucho más ágil la comunicación,</strong>&nbsp;más segura y con menos latencia”, explica Santiago Suinaga.</blockquote>
        <p>El análisis predictivo es el uso de métodos estadísticos y de aprendizaje automático para hacer estimaciones sobre resultados futuros, y encontrar soluciones a problemas anticipándose a errores y sus consecuencias. Aunque las técnicas de modelado predictivo han sido investigadas durante mucho tiempo, en los últimos años se han vuelto cada vez más comunes con aplicaciones en los negocios, impactando cada faceta de nuestras vidas.</p>
        <p>Se están aplicando nuevos métodos para la toma decisiones, sustentados en estos análisis de áreas como la seguridad, prevención de delitos, gestión de infraestructura, ciberseguridad, transporte inteligente, atención médica y bioinformática, detección de fraude, redes sociales y soporte de decisiones para tareas complejas como fusiones y adquisiciones de compañías.
        </p>
        <p>La variedad de técnicas estadísticas, de minería de datos, modelado y&nbsp;<a href="https://www.kionetworks.com/blog/aplicaciones/machine-learning-para-los-negocios-del-futuro" rel="noopener" target="_blank">aprendizaje automático</a>&nbsp;que usa el analiśis predictivo, analizan hechos actuales e históricos para hacer estimaciones sobre eventos futuros explotando patrones en los datos para identificar riesgos y oportunidades.
        </p>
        <p>Capturan las relaciones entre muchos factores y evalúan el riesgo asociado con un conjunto de condiciones, guiando así la toma de decisiones. Típicamente el resultado del análisis es un puntaje (probabilidad) para cada individuo (cliente, empleado, paciente de atención médica, SKU del producto, vehículo, componente, máquina u otra unidad) para determinar, informar o influir en los procesos y resultados.
        </p>
        <p>En entornos organizacionales, el análisis predictivo ha ganado aceptación en los últimos 10 años a medida que las empresas buscan "competir en análisis". En la era de Big Data, el volumen, la velocidad, la variedad y la veracidad de&nbsp;<a href="https://www.kionetworks.com/blog/aplicaciones/tecnicas-y-beneficios-de-recoleccion-de-datos-digitales" rel="noopener" target="_blank">los datos generados</a>&nbsp;por los sensores, las transacciones, los clics y las tecnologías de comunicación, precipitan la necesidad de que el análisis predictivo se ejecute más rápido (en tiempo real), con mayor precisión y utilizando múltiples fuentes de información de diversa calidad de datos y complejidad.
        </p>
        <p>Además, estamos viendo análisis predictivos aplicados en los niveles de granularidad "micro" y "macro". Por ejemplo, se están desarrollando nuevas formas de análisis predictivo para anticipar el comportamiento humano, la dinámica social, los resultados políticos, las tendencias del mercado financiero y los problemas relacionados con la seguridad a nivel individual, grupal, comunitario, nacional e internacional. Estas diferencias en el alcance de la predicción, junto con las dimensiones de Big Data, presentan una variedad de alternativas.</p>
        <p><img src="index.php?rex_media_type=redactorImage&amp;rex_media_file=predicci_n_de_errores_y_toma_de_decisiones.jpg"></p>
        <h3>Ejemplos y aplicaciones del análisis predictivo</h3>
        <p>El analista moderno diría: "dame suficientes datos y puedo predecir cualquier cosa". La forma en que los modelos predictivos producen valor es simple en concepto: permiten tomar decisiones más correctas, más rápidamente y con menos gastos. Los bancos fueron los primeros en adoptarlos, pero hoy en día, la gama de aplicaciones y organizaciones que utilizan análisis predictivos con éxito se ha multiplicado.</p>
        <p>En el marketing y las ventas, los clientes potenciales que ingresan desde el sitio web de una empresa pueden puntuar para determinar la probabilidad de una venta y establecer la prioridad de seguimiento adecuada. Así, las campañas pueden dirigirse a los candidatos con mayor proyección de compra.
        </p>
        <p>En cuanto al manejo de relaciones con el cliente, se puede investigar el comportamiento y sesgo de dichos clientes; por ejemplo, contratos de teléfonos móviles y tarjetas de crédito. Los modelos de desgaste o "abandono" ayudan a las empresas a establecer estrategias para reducir las tasas de abandono y sus consecuencias, a través de comunicaciones y servicios especiales u ofertas.
        </p>
        <p>En torno a la optimización de precios, con suficientes datos, la relación entre demanda y precio puede modelarse para cualquier producto y luego usarse para determinar la mejor estrategia de precios.
        </p>
        <p>En el tema de la salud, los modelos relacionan los síntomas, consecuencias y los tratamientos con los resultados. Por ejemplo, un modelo puede predecir la probabilidad de que un paciente que presenta un cierto conjunto de síntomas en realidad sufra un ataque cardíaco.
        </p>
        <p>En el sector de aseguradoras, el análisis predictivo permite conocer la probabilidad de fraudes. Muchos tipos de fraude tienen patrones predecibles y pueden identificarse con el uso de modelos estadísticos con fines de prevención, de investigación posterior y recuperación. Sobre la recaudación de impuestos, se detectan probables casos de impuestos en deuda debido a errores, sesgos, información falsa y reembolsos inflados.
        </p>
        <h3>¿Cómo hacer análisis predictivo?</h3><p>Si deseas aplicar análisis predictivo en tu organización, te sugerimos seguir las siguientes etapas:</p><ul><li>Recopilación de datos: prepara datos de múltiples fuentes para su análisis. Esto proporciona una vista completa de las interacciones. Usualmente se obtienen muestras suficientes que representen la realidad.
        </li><li><a href="https://www.kionetworks.com/blog/aplicaciones/tipos-de-analitica-de-datos-sus-aplicaciones-y-ventajas" rel="noopener" target="_blank">Análisis de datos</a>: es el proceso de limpieza y modelado de datos con el objetivo de descubrir información útil y llegar a una conclusión. Existe software especializado para cada caso.
        </li><li>Estadísticas: validan los supuestos, hipótesis y probables; utilizando modelos estadísticos estándar.
        </li><li>Modelado: brinda la capacidad de crear automáticamente modelos predictivos precisos sobre el futuro.
        </li><li>Implementación: es la acción de ejecutar las soluciones propuestas por el análisis en el proceso diario de toma de decisiones, para obtener resultados.
        </li><li>Monitoreo del modelo: se administra y monitorea para revisar el rendimiento del modelo y su proyección, y así garantizar que proporciona los resultados esperados.
        </li></ul><p>Dependiendo de la situación, existe una amplia variedad de modelos que se pueden aplicar mientras se realizan análisis predictivos. Algunos de ellos son:</p><ul><li>Técnicas de regresión: modelo de regresión lineal, de elección discreta, regresión logística, regresión logística multinomial, regresión probit, modelos de series de tiempo,árboles de decisión y clasificación.
        </li><li>Técnicas de aprendizaje automático: redes neuronales, perceptrón multicapa (MLP), funciones de base radial, máquinas vectoriales, condicional de Bayes y algoritmos k-nearest y de autocorrelación.
        </li></ul><p>Acércate a nosotros para conocer cómo mediante machine learning, business intelligence y big data podemos ayudarte a predecir los puntos clave de tu negocio.
        </p>
        <p><br></p>
        <p>Fuentes:
        </p>
        <p><u><strong><a href="https://www.cio.com/article/3273114/what-is-predictive-analytics-transforming-data-into-future-insights.html" target="_blank" rel="noopener">https://www.cio.com/article/3273114/what-is-predictive-analytics-transforming-data-into-future-insights.html</a></strong></u>
        </p>
        <p><u><strong><a href="https://www.sas.com/en_us/insights/analytics/predictive-analytics.html" target="_blank" rel="noopener">https://www.sas.com/en_us/insights/analytics/predictive-analytics.html</a></strong></u>
        </p>
      </article>
    </div> 
    <aside class="w-full lg:w-1/4">
      <div x-data="tinySlider()" x-init="mounted()" class="max-w-sm mx-auto mb-8 news-notes">
        <h2>Ultimas Notas</h2>
        <div class="slider-blog">
          <div class="bg-theme-250 rounded overflow-hidden shadow-lg mb-2">
            <img class="w-full" src="https://tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
              <p class="text-gray-600 text-base">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
              </p>
            </div>
            <div class="px-6 py-4">
              <span class="inline-block bg-theme-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2">#photography</span>
              <span class="inline-block bg-theme-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2">#travel</span>
              <span class="inline-block bg-theme-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600">#winter</span>
            </div>
          </div>
          <div class="bg-theme-250 rounded overflow-hidden shadow-lg mb-2">
            <img class="w-full" src="https://tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">The Coldest Sunset 2</div>
              <p class="text-gray-600 text-base">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
              </p>
            </div>
            <div class="px-6 py-4">
              <span class="inline-block bg-theme-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2">#photography</span>
              <span class="inline-block bg-theme-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2">#travel</span>
              <span class="inline-block bg-theme-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600">#winter</span>
            </div>
          </div>
          <div class="bg-theme-250 rounded overflow-hidden shadow-lg mb-2">
            <img class="w-full" src="https://tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">The Coldest Sunset 3</div>
              <p class="text-gray-600 text-base">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
              </p>
            </div>
            <div class="px-6 py-4">
              <span class="inline-block bg-theme-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2">#photography</span>
              <span class="inline-block bg-theme-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2">#travel</span>
              <span class="inline-block bg-theme-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600">#winter</span>
            </div>
          </div>
        </div>
        <div class="inline-flex justify-center w-full">
          <button class="bg-theme-300 hover:bg-theme-400 font-bold mx-1 py-2 px-4 rounded-l">
            1
          </button>
          <button class="bg-theme-300 hover:bg-theme-400 font-bold mx-1 py-2 px-4 rounded-r">
            2
          </button>
          <button class="bg-theme-300 hover:bg-theme-400 font-bold mx-1 py-2 px-4 rounded-r">
            3
          </button>
          <button class="bg-theme-300 hover:bg-theme-400 font-bold mx-1 py-2 px-4 rounded-r">
            4
          </button>
        </div>
      </div>
    </aside>
    <div class="articles-container grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-5">
      <div class="bg-theme-250 rounded overflow-hidden shadow-lg mb-2">
        <div class="w-full">
          <a href="/demo/es/noticias/ecosistemas-de-negocios/">
            <figure>
        <img alt="Data Center" class="responsive" src="https://stripe.com/img/v3/payments/overview/photos/missguided.jpg"></figure>
          </a>
        </div>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2"><a href="/demo/es/noticias/ecosistemas-de-negocios/">ECOSISTEMAS DE NEGOCIOS</a></div>
          <div class="text-gray-600 text-base">
          <p>What is Lorem Ipsum?
      Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only ...</p>    </div>
        </div>
        <div class="px-6 py-4">
          <a class="flex items-baseline mt-3 text-indigo-600 hover:text-indigo-900 focus:text-indigo-900" href="/demo/es/noticias/ecosistemas-de-negocios/">
            <span class="inline-block bg-theme-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2">Leer más</span>
          </a>
        </div>
      </div>
      <div class="bg-theme-250 rounded overflow-hidden shadow-lg mb-2">
        <div class="w-full">
          <a href="/demo/es/noticias/ecosistemas-de-negocios/">
            <figure>
        <img alt="Data Center" class="responsive" src="https://stripe.com/img/v3/payments/overview/photos/missguided.jpg"></figure>
          </a>
        </div>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2"><a href="/demo/es/noticias/ecosistemas-de-negocios/">ECOSISTEMAS DE NEGOCIOS</a></div>
          <div class="text-gray-600 text-base">
          <p>What is Lorem Ipsum?
      Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only ...</p>    </div>
        </div>
        <div class="px-6 py-4">
          <a class="flex items-baseline mt-3 text-indigo-600 hover:text-indigo-900 focus:text-indigo-900" href="/demo/es/noticias/ecosistemas-de-negocios/">
            <span class="inline-block bg-theme-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2">Leer más</span>
          </a>
        </div>
      </div>
      <div class="bg-theme-250 rounded overflow-hidden shadow-lg mb-2">
        <div class="w-full">
          <a href="/demo/es/noticias/ecosistemas-de-negocios/">
            <figure>
        <img alt="Data Center" class="responsive" src="https://stripe.com/img/v3/payments/overview/photos/missguided.jpg"></figure>
          </a>
        </div>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2"><a href="/demo/es/noticias/ecosistemas-de-negocios/">ECOSISTEMAS DE NEGOCIOS</a></div>
          <div class="text-gray-600 text-base">
          <p>What is Lorem Ipsum?
      Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only ...</p>    </div>
        </div>
        <div class="px-6 py-4">
          <a class="flex items-baseline mt-3 text-indigo-600 hover:text-indigo-900 focus:text-indigo-900" href="/demo/es/noticias/ecosistemas-de-negocios/">
            <span class="inline-block bg-theme-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2">Leer más</span>
          </a>
        </div>
      </div>
      <div class="bg-theme-250 rounded overflow-hidden shadow-lg mb-2">
        <div class="w-full">
          <a href="/demo/es/noticias/ecosistemas-de-negocios/">
            <figure>
        <img alt="Data Center" class="responsive" src="https://stripe.com/img/v3/payments/overview/photos/missguided.jpg"></figure>
          </a>
        </div>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2"><a href="/demo/es/noticias/ecosistemas-de-negocios/">ECOSISTEMAS DE NEGOCIOS</a></div>
          <div class="text-gray-600 text-base">
          <p>What is Lorem Ipsum?
      Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only ...</p>    </div>
        </div>
        <div class="px-6 py-4">
          <a class="flex items-baseline mt-3 text-indigo-600 hover:text-indigo-900 focus:text-indigo-900" href="/demo/es/noticias/ecosistemas-de-negocios/">
            <span class="inline-block bg-theme-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2">Leer más</span>
          </a>
        </div>
      </div>
      <div class="bg-theme-250 rounded overflow-hidden shadow-lg mb-2">
        <div class="w-full">
          <a href="/demo/es/noticias/ecosistemas-de-negocios/">
            <figure>
        <img alt="Data Center" class="responsive" src="https://stripe.com/img/v3/payments/overview/photos/missguided.jpg"></figure>
          </a>
        </div>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2"><a href="/demo/es/noticias/ecosistemas-de-negocios/">ECOSISTEMAS DE NEGOCIOS</a></div>
          <div class="text-gray-600 text-base">
          <p>What is Lorem Ipsum?
      Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only ...</p>    </div>
        </div>
        <div class="px-6 py-4">
          <a class="flex items-baseline mt-3 text-indigo-600 hover:text-indigo-900 focus:text-indigo-900" href="/demo/es/noticias/ecosistemas-de-negocios/">
            <span class="inline-block bg-theme-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2">Leer más</span>
          </a>
        </div>
      </div>
      <div class="bg-theme-250 rounded overflow-hidden shadow-lg mb-2">
        <div class="w-full">
          <a href="/demo/es/noticias/ecosistemas-de-negocios/">
            <figure>
        <img alt="Data Center" class="responsive" src="https://stripe.com/img/v3/payments/overview/photos/missguided.jpg"></figure>
          </a>
        </div>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2"><a href="/demo/es/noticias/ecosistemas-de-negocios/">ECOSISTEMAS DE NEGOCIOS</a></div>
          <div class="text-gray-600 text-base">
          <p>What is Lorem Ipsum?
      Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only ...</p>    </div>
        </div>
        <div class="px-6 py-4">
          <a class="flex items-baseline mt-3 text-indigo-600 hover:text-indigo-900 focus:text-indigo-900" href="/demo/es/noticias/ecosistemas-de-negocios/">
            <span class="inline-block bg-theme-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2">Leer más</span>
          </a>
        </div>
      </div>
      <div class="bg-theme-250 rounded overflow-hidden shadow-lg mb-2">
        <div class="w-full">
          <a href="/demo/es/noticias/ecosistemas-de-negocios/">
            <figure>
        <img alt="Data Center" class="responsive" src="https://stripe.com/img/v3/payments/overview/photos/missguided.jpg"></figure>
          </a>
        </div>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2"><a href="/demo/es/noticias/ecosistemas-de-negocios/">ECOSISTEMAS DE NEGOCIOS</a></div>
          <div class="text-gray-600 text-base">
          <p>What is Lorem Ipsum?
      Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only ...</p>    </div>
        </div>
        <div class="px-6 py-4">
          <a class="flex items-baseline mt-3 text-indigo-600 hover:text-indigo-900 focus:text-indigo-900" href="/demo/es/noticias/ecosistemas-de-negocios/">
            <span class="inline-block bg-theme-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2">Leer más</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>