<div class="flex flex-wrap mx-2">
  <div class="w-full md:w-1/3 px-2 pb-12">
    <div class="h-full bg-white rounded overflow-hidden shadow-md hover:shadow-lg relative smooth">
      <a href="#" class="no-underline hover:no-underline">
          <img src="https://source.unsplash.com/_AjqGGafofE/400x200" class="h-48 w-full rounded-t shadow-lg">
          <div class="p-6 h-auto md:h-48">	
            <p class="text-gray-600 text-xs md:text-sm">GETTING STARTED</p>
            <div class="font-bold text-xl text-gray-900">Lorem ipsum dolor sit amet.</div>
            <p class="text-gray-800 font-serif text-base mb-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula. 
            </p>
          </div>
          <div class="flex items-center justify-between inset-x-0 bottom-0 p-6">
            <img class="w-8 h-8 rounded-full mr-4" src="http://i.pravatar.cc/300" alt="Avatar of Author">
            <p class="text-gray-600 text-xs md:text-sm">2 MIN READ</p>
          </div>
      </a>
    </div>
  </div>
  <div class="w-full md:w-1/3 px-2 pb-12">
    <div class="h-full bg-white rounded overflow-hidden shadow-md hover:shadow-lg relative smooth">
      <a href="#" class="no-underline hover:no-underline">
          <img src="https://source.unsplash.com/_AjqGGafofE/400x200" class="h-48 w-full rounded-t shadow">
          <div class="p-6 h-auto md:h-48">	
            <p class="text-gray-600 text-xs md:text-sm">UNDERWATER</p>
            <div class="font-bold text-xl text-gray-900">Biolumini algae diatomeae ecology.</div>
            <p class="text-gray-800 font-serif text-base mb-5">
              Lorem ipsum dolor sit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula. 
            </p>
          </div>
          <div class="flex items-center justify-between inset-x-0 bottom-0 p-6">
            <img class="w-8 h-8 rounded-full mr-4" src="http://i.pravatar.cc/300" alt="Avatar of Author">
            <p class="text-gray-600 text-xs md:text-sm">4 MIN READ</p>
          </div>
      </a>
    </div>
  </div>
  <div class="w-full md:w-1/3 px-2 pb-12">
    <div class="h-full bg-white rounded overflow-hidden shadow-md hover:shadow-lg relative smooth">
      <a href="#" class="no-underline hover:no-underline">
          <img src="https://source.unsplash.com/DEa8_vxKlEo/400x200" class="h-48 w-full rounded-t shadow">
          <div class="p-6 h-auto md:h-48">	
            <p class="text-gray-600 text-xs md:text-sm">FOREST</p>
            <div class="font-bold text-xl text-gray-900">What is life but a teardrop in the eye of infinity?</div>
            <p class="text-gray-800 font-serif text-base mb-5">
              Mollis pretium integer eros et dui orci, lectus nec elit sagittis neque. Dignissim ac nullam semper aliquet volutpat, ut scelerisque.
            </p>
          </div>
          <div class="flex items-center justify-between inset-x-0 bottom-0 p-6">
            <img class="w-8 h-8 rounded-full mr-4" src="http://i.pravatar.cc/300" alt="Avatar of Author">
            <p class="text-gray-600 text-xs md:text-sm">7 MIN READ</p>
          </div>
      </a>
    </div>
  </div>
</div>