<section class="relative overflow-hidden pb-24 pt-24">
  <article class="container mx-auto pt-24">
    <div class="grid grid-cols-1 gap-5">
      <div class="my-5" data-aos="fade-up" data-aos-duration="3000">
        <img class="px-12 mx-auto w-full" src="http://actelnetworks.com/demo/index.php?rex_media_type=standard&rex_media_file=bgdatacenter.png" alt="">
        <div class="py-2 flex items-center">
          <p class="text-right">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque non accusamus eveniet, eum laborum voluptatem. Alias, libero architecto distinctio asperiores voluptates voluptas tenetur voluptatem. Magni incidunt nemo sed rem corrupti.</p>
        </div>
      </div>
    </div>
    <hr class="mt-5 mb-10 opacity-25">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
      <div class="my-5" data-aos="fade-right" data-aos-duration="3000">
        <img class="px-12 mx-auto w-full" src="http://actelnetworks.com/demo/index.php?rex_media_type=standard&rex_media_file=bgdatacenter.png" alt="">
        <div class="py-2 flex items-center">
          <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque non accusamus eveniet, eum laborum voluptatem. Alias, libero architecto distinctio asperiores voluptates voluptas tenetur voluptatem. Magni incidunt nemo sed rem corrupti.</p>
        </div>
      </div>
      <div class="my-5" data-aos="fade-left" data-aos-duration="3000">
        <img class="px-12 mx-auto w-full" src="http://actelnetworks.com/demo/index.php?rex_media_type=standard&rex_media_file=bgdatacenter.png" alt="">
        <div class="py-2 flex items-center">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque non accusamus eveniet, eum laborum voluptatem. Alias, libero architecto distinctio asperiores voluptates voluptas tenetur voluptatem. Magni incidunt nemo sed rem corrupti.</p>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
      <div class="my-5" data-aos="fade-right" data-aos-duration="3000">
        <img class="px-12 mx-auto w-full" src="http://actelnetworks.com/demo/index.php?rex_media_type=standard&rex_media_file=bgdatacenter.png" alt="">
        <div class="py-2 flex items-center">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque non accusamus eveniet, eum laborum voluptatem. Alias, libero architecto distinctio asperiores voluptates voluptas tenetur voluptatem. Magni incidunt nemo sed rem corrupti.</p>
        </div>
      </div>
      <div class="my-5" data-aos="fade-up" data-aos-duration="3000">
        <img class="px-12 mx-auto w-full" src="http://actelnetworks.com/demo/index.php?rex_media_type=standard&rex_media_file=bgdatacenter.png" alt="">
        <div class="py-2 flex items-center">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque non accusamus eveniet, eum laborum voluptatem. Alias, libero architecto distinctio asperiores voluptates voluptas tenetur voluptatem. Magni incidunt nemo sed rem corrupti.</p>
        </div>
      </div>
      <div class="my-5" data-aos="fade-left" data-aos-duration="3000">
        <img class="px-12 mx-auto w-full" src="http://actelnetworks.com/demo/index.php?rex_media_type=standard&rex_media_file=bgdatacenter.png" alt="">
        <div class="py-2 flex items-center">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque non accusamus eveniet, eum laborum voluptatem. Alias, libero architecto distinctio asperiores voluptates voluptas tenetur voluptatem. Magni incidunt nemo sed rem corrupti.</p>
        </div>
      </div>
    </div>
  </article>
</section>