<section id="contacts" class="overflow-hidden relative block py-24 lg:pt-12 bg-theme-250 mb-0">
  <div class="container mx-auto px-4">
    <div data-aos="fade-up" data-aos-duration="1200" data-aos-offset="100" class="flex flex-wrap justify-center lg:mt-4 mt-8">
      <div class="w-full lg:w-6/12 px-4">
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-theme-200">
          <div class="flex-auto p-5 lg:p-10" x-data="contactForm()">
            <h4 class="text-2xl font-semibold text-center uppercase">
              Esta buscando más información<span class="text-primary-base text-4xl pl-1 relative" style="top: 4px;">?</span>
            </h4>
            <div class="flex flex-wrap justify-center opacity-50">
              <div class="w-56 h-2 bg-error-500 my-1 rounded-full"></div>
            </div>
            <div class="flex flex-wrap justify-center opacity-75">
              <div class="w-20 h-2 bg-primary-600 rounded-full"></div>
            </div>
            <p class="leading-relaxed mt-1 mb-4 text-text-base text-center mt-4">Complete este formulario y nos pondremos en contacto con usted en menos de 24 horas.</p>
            <form class="rounded" onsubmit="event.preventDefault();">
              <div class="relative w-full mb-3 mt-8">
                <label class="block uppercase text-text-base text-xs font-bold mb-2" for="full-name">Nombre completo</label>
                <input x-model="contact.name" type="text"
                required="required"
                class="theme--light px-3 py-3 rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                placeholder="Nombre completo" style="transition: all 0.15s ease 0s;">
              </div>
              <div class="relative w-full mb-3">
                <label class="block uppercase text-text-base text-xs font-bold mb-2" for="email">Email</label>
                <input
                required="required"
                x-model="contact.email" type="email"
                class="theme--light px-3 py-3 rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                placeholder="Email" style="transition: all 0.15s ease 0s;">
              </div>
              <div class="relative w-full mb-3">
                <label class="block uppercase text-text-base text-xs font-bold mb-2" for="message">Mensaje</label>
                <textarea required="required" x-model="contact.message" rows="4" cols="80"
                class="theme--light px-3 py-3 rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                placeholder="Excriba su mensaje..."></textarea>
              </div>
              <div class="text-center mt-6">
                <button type="button" @click="submitForm()" class="bg-theme-300 text-text-base hover:bg-primary-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1" style="transition: all 0.15s ease 0s;">Enviar Mensaje</button>
              </div>
              <template x-if="contact.response">
                <div
                  role="alert"
                  x-transition:enter="transition ease-out duration-300"
                  x-transition:enter-start="opacity-0 transform scale-90"
                  x-transition:enter-end="opacity-100 transform scale-100"
                  x-transition:leave="transition ease-in duration-300"
                  x-transition:leave-start="opacity-100 transform scale-100"
                  x-transition:leave-end="opacity-0 transform scale-90"
                  >
                  <div class="bg-success-300 text-light-base font-bold rounded-t px-4 py-2">
                    Enviado correctamente
                  </div>
                  <div class="border border-t-0 border-success-400 rounded-b bg-success-100 px-4 py-3 theme--light">
                    <p x-text="contact.response"></p>
                  </div>
                </div>
              </template>
              <template x-if="alertMessage">
                <div
                  role="alert"
                  x-transition:enter="transition ease-out duration-300"
                  x-transition:enter-start="opacity-0 transform scale-90"
                  x-transition:enter-end="opacity-100 transform scale-100"
                  x-transition:leave="transition ease-in duration-300"
                  x-transition:leave-start="opacity-100 transform scale-100"
                  x-transition:leave-end="opacity-0 transform scale-90"
                  >
                  <div class="bg-warning-300 text-light-base font-bold rounded-t px-4 py-2">
                    Atención
                  </div>
                  <div class="border border-t-0 border-warning-400 rounded-b bg-warning-100 px-4 py-3 theme--light">
                    <p>Llene los datos antes de enviar</p>
                  </div>
                </div>
              </template>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
