<section id="services4" class="overflow-hidden py-20 bg-transparent theme--dark overflow-hidden relative bg-fixed bg-center bg-no-repeat bg-cover"
  style="background-image: url('/resources/images/datacenter.png');">
  <div class="container mx-auto">
    <div
      data-aos="flip-left"
      data-aos-duration="1200"
      data-aos-offset="100"
      class="flex flex-wrap justify-center text-center my-48">
      <div class="w-full lg:w-6/12 px-4">
        <img src="/resources/images/actel.png" alt="">
        <!-- <h2 class="text-4xl font-semibold">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Nuestros equipo.</font>
          </font>
        </h2> -->
        <p class="text-lg leading-relaxed m-4 text-gray-600">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod eum nisi dolorem et, quia qui porro quo ipsum vel omnis velit! Minima qui voluptatum esse aperiam obcaecati nisi culpa quisquam?.</font>
          </font>
        </p>
      </div>
    </div>
  </div>
</section>