<div class="bg-transparent bottom-auto top-0 left-0 right-0 w-full pointer-events-none overflow-hidden -mt-20" style="height: 80px; transform: translateZ(0px);">
  <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
    <polygon fill="var(--theme-150)" points="2560 0 2560 100 0 100"></polygon>
  </svg>
</div>