.fixed.w-full.z-30
  header#header.fixed.w-full.z-30.main-header
    nav( class="flex items-center justify-between lg:flex-no-wrap flex-wrap p-6" x-data="header()" x-init="mounted()")
      <div class="flex flex-wrap items-center flex-shrink-0 text-white mr-6">
        <a href="#start" class="logo-container">
          //- img.w-40(alt='logo' src= path_media + 'svg/FOR-banner-rgb.svg')
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="241 97 425.138 279.699">
            <defs>
              <clipPath id="_clipPath_a4vHVeT4ZFAyMUead6JME2by0U5RQffs"><rect x="241" y="97" width="425.138" height="279.699"></rect></clipPath>
            </defs>
            <g clip-path="url(#_clipPath_a4vHVeT4ZFAyMUead6JME2by0U5RQffs)">
              <path fill="#ec1d23" d=" M 508.83 97.295 C 490.73 98.595 467.23 103.495 456.53 108.095 C 454.73 108.795 450.93 110.395 448.03 111.495 C 420.33 122.695 394.23 140.095 371.63 162.395 C 363.53 170.295 362.63 172.695 370.13 166.395 C 377.43 160.095 390.23 151.495 403.53 143.995 C 409.63 140.495 415.03 137.595 415.33 137.595 C 415.73 137.595 418.53 136.395 421.63 134.995 C 445.03 124.295 472.83 117.595 494.33 117.595 C 535.03 117.595 559.93 136.895 560.23 168.795 L 560.23 175.695 L 572.33 175.395 L 584.33 175.095 L 585.43 170.095 C 587.03 163.495 587.13 147.095 585.73 140.395 C 583.13 128.495 573.23 114.995 562.03 108.195 C 548.43 100.095 527.93 95.795 508.83 97.295 Z "></path>
              <path fill="#ec1d23" d=" M 259.43 300.795 C 256.43 314.795 256.23 319.895 257.83 330.595 C 260.23 345.495 271.43 360.695 285.03 367.395 C 299.53 374.495 310.53 376.795 329.83 376.695 C 355.53 376.695 379.33 370.695 407.33 357.095 C 430.93 345.695 451.33 331.895 467.13 316.795 C 473.93 310.095 472.93 308.795 465.13 314.395 C 431.93 337.895 397.03 351.995 363.63 355.595 C 343.63 357.695 330.93 356.295 315.83 350.495 C 295.33 342.595 283.83 326.595 283.53 305.395 L 283.43 298.595 L 271.63 298.595 C 260.23 298.595 259.83 298.695 259.43 300.795 Z "></path>
              <g class="actel-svg">
                <path d=" M 638.73 165.795 C 638.63 167.095 638.43 168.995 638.23 170.095 C 638.03 171.195 636.73 179.695 635.33 189.095 C 633.83 198.395 632.23 208.795 631.73 212.095 C 631.23 215.395 630.33 221.395 629.83 225.395 C 629.33 229.395 628.13 236.995 627.33 242.195 C 623.63 265.195 626.93 273.495 640.93 276.495 C 655.03 279.495 665.33 275.395 666.03 266.495 C 666.33 263.195 666.23 263.095 662.73 262.995 C 656.53 262.795 652.13 261.595 650.33 259.595 C 648.83 257.895 648.63 256.495 649.23 250.395 C 650.13 239.595 653.83 212.895 658.03 186.795 C 660.03 173.895 660.13 172.195 658.73 169.795 C 656.63 165.895 651.33 163.595 644.63 163.595 C 639.33 163.595 638.83 163.795 638.73 165.795 Z "></path>
                <path d=" M 291.63 170.595 C 288.73 172.895 274.33 194.095 268.23 205.095 C 264.13 212.695 251.33 238.295 248.13 245.595 C 244.23 254.395 241.83 261.695 241.23 266.895 C 240.33 274.395 241.73 275.595 251.63 275.595 L 259.33 275.595 L 262.63 265.295 C 264.53 259.695 266.63 253.595 267.43 251.795 L 268.83 248.595 L 287.13 248.495 C 306.93 248.395 312.03 248.495 312.83 249.295 C 313.03 249.495 313.53 254.095 313.83 259.495 C 314.53 273.195 317.03 275.595 330.43 275.595 L 338.03 275.595 L 337.43 266.295 C 335.13 234.395 325.73 189.195 318.93 177.895 C 315.53 172.295 311.03 169.995 301.83 169.095 C 295.03 168.495 293.93 168.695 291.63 170.595 Z  M 302.83 194.295 C 306.43 203.895 311.63 229.995 310.53 232.895 C 310.03 234.395 308.03 234.595 296.63 234.795 C 283.73 234.995 276.63 234.695 276.03 234.195 C 274.13 232.195 296.93 188.595 299.93 188.595 C 300.33 188.595 301.63 191.195 302.83 194.295 Z "></path>
                <path d=" M 474.33 176.395 C 468.63 179.495 463.23 185.995 462.03 191.395 C 461.53 193.395 459.23 208.695 456.93 225.295 C 451.93 260.895 452.03 263.695 458.63 270.895 C 464.13 276.695 482.73 279.495 493.03 275.995 C 499.13 273.995 501.83 270.895 503.33 264.095 C 504.63 258.895 504.53 258.495 503.03 259.095 C 494.83 262.495 484.53 262.595 479.53 259.295 C 474.93 256.295 475.03 250.395 480.63 217.295 L 482.23 207.595 L 492.53 207.595 C 499.33 207.595 504.13 207.095 506.33 206.195 C 510.53 204.395 513.93 199.195 513.63 195.195 C 513.33 191.895 515.13 192.195 494.93 191.795 L 484.53 191.595 L 485.23 186.795 C 485.53 184.195 486.13 180.195 486.43 177.795 L 487.13 173.595 L 483.23 173.595 C 480.93 173.595 477.33 174.795 474.33 176.395 Z "></path>
                <path d=" M 404.83 191.095 C 384.23 194.495 371.43 204.895 363.33 225.095 C 359.63 234.295 359.33 247.095 362.63 255.595 C 365.53 262.995 372.53 270.095 380.83 273.895 C 389.13 277.795 403.53 278.895 411.63 276.195 C 417.83 274.095 424.33 269.495 426.23 265.895 C 427.83 262.695 429.43 253.595 428.33 253.595 C 427.93 253.595 426.33 254.695 424.73 255.995 C 420.63 259.495 411.53 261.895 404.33 261.395 C 396.13 260.895 391.03 258.095 387.33 252.095 C 384.53 247.595 384.33 246.495 384.33 238.195 C 384.33 230.195 384.63 228.395 387.13 223.595 C 392.83 212.395 401.73 206.595 412.93 206.595 C 421.53 206.595 426.23 208.095 430.73 212.195 C 432.83 214.095 434.83 215.595 435.23 215.595 C 436.23 215.595 435.93 201.995 434.83 199.195 C 433.53 195.695 427.13 191.895 420.33 190.695 C 417.13 190.095 414.03 189.695 413.43 189.695 C 412.83 189.795 408.93 190.395 404.83 191.095 Z "></path>
                <path d=" M 565.33 191.095 C 551.53 193.195 540.33 200.195 533.33 211.195 C 518.63 234.195 521.33 261.395 539.43 272.695 C 549.83 279.095 570.63 279.395 585.03 273.295 C 590.03 271.195 594.83 264.395 594.83 259.495 L 594.83 255.695 L 589.53 258.095 C 578.33 263.295 564.23 264.095 556.23 260.095 C 550.33 257.095 547.03 252.695 546.23 246.295 L 545.53 241.595 L 556.93 241.595 C 569.33 241.595 583.23 240.295 588.93 238.595 C 601.73 234.895 607.63 221.895 603.23 207.495 C 600.63 199.095 591.83 192.395 581.73 191.095 C 579.33 190.695 576.43 190.295 575.33 190.195 C 574.23 189.995 569.73 190.395 565.33 191.095 Z  M 574.83 205.795 C 579.53 207.195 582.63 210.295 583.43 214.195 C 584.43 219.695 583.03 223.295 579.03 225.795 C 575.63 227.895 574.13 228.095 561.83 228.095 L 548.33 228.095 L 548.63 224.195 C 549.13 219.495 553.83 211.395 557.93 208.495 C 562.93 204.995 569.03 203.995 574.83 205.795 Z "></path>
              </g>
              <g class="networks-svg" fill="#0e4997">
                <path d=" M 622.03 321.795 C 622.33 334.295 622.43 335.095 624.33 335.395 C 626.13 335.595 626.33 335.195 626.03 331.095 C 625.83 328.595 626.03 326.595 626.53 326.595 C 627.03 326.595 629.13 328.595 631.13 331.095 C 633.73 334.195 635.73 335.595 637.33 335.595 C 638.73 335.595 639.83 335.395 639.83 335.095 C 639.83 334.795 637.83 332.395 635.33 329.795 L 630.83 325.195 L 633.63 322.095 C 635.13 320.495 637.13 318.195 637.93 317.195 C 640.63 313.595 633.63 316.395 630.53 320.195 C 628.93 322.095 627.23 323.595 626.73 323.595 C 626.23 323.595 625.83 320.495 625.83 316.695 C 625.83 310.195 625.13 308.595 622.23 308.595 C 621.93 308.595 621.93 314.595 622.03 321.795 Z "></path>
                <path d=" M 489.03 322.795 C 489.33 334.795 489.43 335.095 491.63 335.395 C 493.93 335.795 493.93 335.695 493.63 326.695 C 493.43 321.695 493.63 317.595 493.93 317.595 C 494.33 317.595 496.23 320.895 498.33 324.795 C 503.03 333.795 504.53 335.595 507.53 335.595 L 509.93 335.595 L 509.63 323.295 C 509.33 311.295 509.33 311.095 506.93 310.795 C 504.53 310.395 504.53 310.395 505.03 318.995 C 505.23 323.695 505.23 327.595 504.83 327.595 C 504.53 327.595 502.63 324.395 500.73 320.495 C 497.13 312.895 494.83 310.595 491.03 310.595 C 488.73 310.595 488.73 310.595 489.03 322.795 Z "></path>
                <path d=" M 538.03 312.795 C 537.23 313.595 536.83 317.295 536.83 322.795 C 536.83 330.895 537.03 331.895 539.33 334.095 C 541.93 336.795 545.73 337.295 547.63 335.395 C 549.13 333.895 549.23 331.195 547.73 332.095 C 547.23 332.495 545.63 332.495 544.23 332.195 C 542.03 331.595 541.83 331.095 541.83 325.595 L 541.83 319.695 L 545.03 319.395 C 547.23 319.195 548.43 318.495 548.63 317.295 C 548.93 315.895 548.23 315.595 545.43 315.595 C 542.53 315.595 541.83 315.195 541.83 313.595 C 541.83 311.395 539.83 310.995 538.03 312.795 Z "></path>
                <path d=" M 517.83 318.295 C 511.53 323.995 513.93 333.995 522.13 335.995 C 526.23 337.095 530.83 335.595 530.83 333.195 C 530.83 332.095 529.83 331.895 526.83 332.295 C 523.83 332.695 522.33 332.395 520.83 331.095 C 517.83 328.395 518.43 327.595 523.43 327.595 C 529.53 327.595 531.83 326.195 531.83 322.595 C 531.83 319.095 527.83 315.595 523.73 315.595 C 522.03 315.595 519.63 316.695 517.83 318.295 Z  M 527.33 322.095 C 527.33 323.695 526.53 324.195 523.13 324.395 C 520.03 324.595 518.83 324.295 518.83 323.395 C 518.83 320.995 521.23 319.495 524.33 319.795 C 526.53 319.995 527.33 320.595 527.33 322.095 Z "></path>
                <path d=" M 550.83 317.795 C 550.83 321.295 554.93 332.395 557.23 334.795 L 559.13 336.895 L 560.93 334.695 C 561.93 333.495 563.03 330.895 563.43 328.995 C 564.23 324.595 565.63 324.995 567.33 329.995 C 569.13 335.095 571.23 337.295 573.13 335.795 C 574.93 334.195 580.23 318.995 579.43 317.095 C 579.13 316.295 578.23 315.595 577.53 315.595 C 576.23 315.595 574.83 319.295 573.33 326.295 C 572.43 330.795 571.13 330.395 569.73 325.295 C 567.83 318.095 566.93 316.595 564.83 316.595 C 563.73 316.595 562.83 317.195 562.83 317.895 C 562.83 320.995 559.63 329.795 558.83 328.995 C 558.33 328.495 557.33 325.695 556.53 322.795 C 555.33 317.995 553.73 315.695 551.63 315.595 C 551.13 315.595 550.83 316.595 550.83 317.795 Z "></path>
                <path d=" M 585.73 318.495 C 583.43 320.895 582.83 322.295 582.83 325.995 C 582.83 332.595 586.13 336.095 592.23 336.095 C 598.33 336.095 600.93 333.495 601.63 326.695 C 602.03 322.095 601.83 321.395 599.03 318.595 C 594.83 314.495 589.83 314.395 585.73 318.495 Z  M 595.93 321.195 C 597.93 323.595 597.53 329.595 595.33 331.195 C 593.03 332.895 591.73 332.995 589.43 331.295 C 587.23 329.695 586.83 323.495 588.73 321.195 C 590.43 319.095 594.23 319.095 595.93 321.195 Z "></path>
                <path d=" M 609.23 318.095 C 606.93 320.395 606.73 321.195 607.03 327.795 C 607.33 334.495 607.53 335.095 609.63 335.395 C 611.73 335.695 611.83 335.395 611.83 328.195 C 611.83 321.595 612.03 320.695 613.83 320.095 C 614.93 319.795 616.23 319.795 616.83 320.095 C 617.33 320.395 617.83 319.795 617.83 318.795 C 617.83 314.895 612.83 314.595 609.23 318.095 Z "></path>
                <path d=" M 645.43 317.695 C 643.93 318.895 642.83 320.695 642.83 322.095 C 642.83 324.795 646.23 327.595 649.43 327.595 C 650.63 327.595 652.13 328.195 652.73 328.995 C 654.53 331.095 651.53 332.995 647.23 332.295 C 644.33 331.795 643.73 331.995 644.03 333.395 C 644.23 334.295 645.53 335.495 646.93 335.995 C 652.03 337.695 657.83 334.595 657.83 330.195 C 657.83 327.895 655.03 324.595 653.03 324.595 C 652.43 324.595 650.83 324.195 649.43 323.595 C 647.63 322.995 647.03 322.195 647.53 320.995 C 648.03 319.695 649.13 319.495 653.03 319.795 C 658.23 320.295 658.83 319.795 656.03 317.295 C 653.53 314.995 648.63 315.195 645.43 317.695 Z "></path>
              </g>
            </g>
          </svg>
        </a>
      </div>
      //- menu mobile    
      <div class="block lg:hidden mr-8">
        <button x-on:click="open()" class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
      </div>
      //- <div x-show="show" x-on:click.away="close()" class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      //-   <div class="text-sm lg:flex-grow">
      //-     <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"> Docs</a>
      //-     <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">Examples</a>
      //-     <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">Blog</a>
      //-   </div>
      //-   <div>
      //-     <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Download</a>
      //-   </div>
      //- </div>
      //- menu desktop
      ul.uppercase.tracking-wide.font-bold.w-full.block.flex-grow.items-center.mt-8.mr-8(
        class='lg:flex lg:flex-initial lg:w-auto lg:mt-0' x-show="show"
      )
        li.scroll-item.flex.justify-end.mr-8.mb-6.leading-none.scroll-active(class='lg:mb-0'): a(href="#start" class="hover:no-underline").anim-underline Inicio
        //- li.flex.justify-end.mr-8.mb-6.leading-none(class='lg:mb-0'): a(href="#www.redaxo.org/slack/") Data center
        li.scroll-item.flex.justify-end.mr-8.mb-6.leading-none(class='lg:mb-0'): a(href="#services" class="hover:no-underline").anim-underline  Servicios
        li.scroll-item.flex.justify-end.mr-8.mb-6.leading-none(class='lg:mb-0'): a(href="#us" class="hover:no-underline").anim-underline  Nosotros
        li.scroll-item.flex.justify-end.mr-8.mb-6.leading-none(class='lg:mb-0'): a(href="#our-team" class="hover:no-underline").anim-underline  Nuestro equipo
        li.scroll-item.flex.justify-end.mr-8.mb-6.leading-none(class='lg:mb-0'): a(href="#contacts" class="hover:no-underline").anim-underline  Contáctenos
        li.flex.justify-end.mr-6.mb-6(class='lg:mb-0')
          <div class="inline-flex relative">
            <select onchange="location = this.value;" class="capitalize appearance-none border px-3 py-2 rounded shadow leading-tight focus:outline-none focus:shadow-outline w-32" style="background: transparent;">
              option(value= path_page + "es" class="capitalize theme--light") Español
              option(value= path_page + "en" class="capitalize theme--light") Inglés
              option(value= path_page + "pr" class="capitalize theme--light") Portugues
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        //- dark mode, light mode
        li.theme-mode.mr-8.mb-6(class='lg:mb-0' x-data="themingColor()" x-init="initialize()")
          a(class='hover:text-gray-600 cursor-pointer' @click="changeTheme()")
            <i x-show="themeMode === 'light'" class="fas fa-moon"></i>
            <i x-show="themeMode === 'dark'" class="fas fa-sun"></i>