<section id="start" class="bg-theme-base initial-blog" style="min-height: 270px; height: 270px; object-fit: cover;">
  <figure>
    <img alt="LA APLICACIÓN DEL ANÁLISIS PREDICTIVO EN LOS NEGOCIOS" class="responsive" src="http://actelnetworks.com/demo/es/blog/la-aplicacion-del-analisis-predictivo-en-los-negocios/index.php?rex_media_type=newsmanager&rex_media_file=predicci_n_de_errores_y_toma_de_decisiones.jpg" style="width: 100%;">
  </figure>
</section>