<section id="services" class="overflow-hidden pb-20 pt-24 bg-theme-150">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div
        data-aos="fade-right"
        data-aos-duration="1200"
        data-aos-offset="100"
        class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center"
      >
        <div class="bg-theme-200 relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
          <div class="px-4 py-5 flex-auto">
            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full">
              <i class="fas fa-network-wired"></i>
            </div>
            <h6 class="text-xl font-semibold">Networks</h6>
            <div class="text-left">
              <p class="mt-2 mb-4 text-text-600 text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ea fugit. Sunt, non provident. Iure minima laudantium obcaecati eum perferendis illum, odio, blanditiis reiciendis, delectus ea aperiam ex! Rerum, aut.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div 
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-offset="100" class="w-full md:w-4/12 px-4 text-center">
        <div class="bg-theme-200 relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
          <div class="px-4 py-5 flex-auto">
            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400">
              <i class="fas fa-network-wired"></i>
            </div>
            <h6 class="text-xl font-semibold">Data center</h6>
            <p class="mt-2 mb-4 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos architecto animi ullam iusto ea incidunt quo explicabo labore molestiae. Sequi magnam rerum quam, quod enim tempore at nemo facere distinctio.</p>
          </div>
        </div>
      </div>
      <div
        data-aos="fade-left"
        data-aos-duration="1200"
        data-aos-offset="100" class="pt-6 w-full md:w-4/12 px-4 text-center">
        <div class="bg-theme-200 relative flex flex-col min-w-0 break-words w-full mb-8 shadow-lg rounded-lg">
          <div class="px-4 py-5 flex-auto">
            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400">
              <i class="fas fa-network-wired"></i>
            </div>
            <h6 class="text-xl font-semibold">Telecomunicaciones</h6>
            <p class="mt-2 mb-4 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quidem placeat eos minima! Voluptas tempore dicta in quasi molestias. Saepe aliquid quam deleniti aperiam odio quis iure vero delectus in!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap items-center mt-32">
      <div
        data-aos="fade-right"
        data-aos-duration="1200"
        data-aos-offset="100"
        class="w-full md:w-5/12 px-4 mr-auto ml-auto">
        <div class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full">
          <i class="fas fa-network-wired text-xl"></i>
        </div>
        <h3 class="text-3xl mb-2 font-semibold leading-normal">Nuestros servicios</h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius a commodi incidunt neque perspiciatis velit? Ducimus aperiam labore tempore deserunt recusandae, ipsum ad laboriosam amet dignissimos.</p>
        <p class="text-lg font-light leading-relaxed mt-0 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis aperiam autem, vel animi vero optio quisquam voluptas sequi qui unde dolores neque placeat sit.</p>
        <a href="#" class="font-bold text-gray-800 mt-8" target="_blank">Ver más</a>
      </div>
      <div
        data-aos="fade-left"
        data-aos-duration="1200"
        data-aos-offset="100"
        class="w-full md:w-4/12 px-4 mr-auto ml-auto">
        <div class="bg-theme-200 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600">
          <img alt="..." src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1051&amp;q=80" class="w-full align-middle rounded-t-lg">
          <blockquote class="relative p-8 mb-4">
            <!-- <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
              <polygon points="-30,95 583,95 583,65" class="text-pink-600 fill-current"></polygon>
            </svg> -->
            <h4 class="text-xl font-bold text-white">Top Services</h4>
            <p class="text-md font-light mt-2 text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis tempora, ut omnis dolor aut esse doloremque vitae, suscipit eligendi provident minus deserunt rerum.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>