<section id="our-team" class="overflow-hidden pt-20 pb-48">
  <div class="container mx-auto px-4">
    <div
      data-aos="flip-left"
      data-aos-duration="1200"
      data-aos-offset="100"
      class="flex flex-wrap justify-center text-center mb-24">
      <div class="w-full lg:w-6/12 px-4">
        <h2 class="text-4xl font-semibold">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Nuestros equipo.</font>
          </font>
        </h2>
        <p class="text-lg leading-relaxed m-4 text-gray-600">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod eum nisi dolorem et, quia qui porro quo ipsum vel omnis velit! Minima qui voluptatum esse aperiam obcaecati nisi culpa quisquam?.</font>
          </font>
        </p>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div
        data-aos="fade-down-right"
        data-aos-duration="1200"
        data-aos-offset="100"
        class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
          <img alt="..." src="https://demos.creative-tim.com/tailwindcss-starter-project/_next/static/images/team-1-800x800-fa5a7ac2c81a43925586ea85f2fea332.jpg" class="shadow-lg rounded-full mx-auto w-40 h-40 object-cover">
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rodrigo Arteaga</font></font></h5>
            <p class="mt-1 text-sm text-gray-500 uppercase font-semibold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">FOUNDER CEO</font></font></p>
            <div class="mt-6">
              <button class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-twitter"></i></button>
              <button class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-facebook-square"></i></button>
              <button class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-dribbble"></i></button>
              <button class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-google"></i></button>
              <button class="bg-gray-800 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-instagram"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div
        data-aos="fade-down-right"
        data-aos-duration="1200"
        data-aos-offset="100"
        class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
          <img alt="..." src="https://demos.creative-tim.com/tailwindcss-starter-project/_next/static/images/team-1-800x800-fa5a7ac2c81a43925586ea85f2fea332.jpg" class="shadow-lg rounded-full mx-auto w-40 h-40 object-cover">
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rodrigo Arteaga</font></font></h5>
            <p class="mt-1 text-sm text-gray-500 uppercase font-semibold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">FOUNDER CEO</font></font></p>
            <div class="mt-6">
              <button class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-twitter"></i></button>
              <button class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-facebook-square"></i></button>
              <button class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-dribbble"></i></button>
              <button class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-google"></i></button>
              <button class="bg-gray-800 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-instagram"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div
        data-aos="fade-down-left"
        data-aos-duration="1200"
        data-aos-offset="100"
        class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
          <img alt="..." src="https://demos.creative-tim.com/tailwindcss-starter-project/_next/static/images/team-1-800x800-fa5a7ac2c81a43925586ea85f2fea332.jpg" class="shadow-lg rounded-full mx-auto w-40 h-40 object-cover">
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rodrigo Arteaga</font></font></h5>
            <p class="mt-1 text-sm text-gray-500 uppercase font-semibold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">FOUNDER CEO</font></font></p>
            <div class="mt-6">
              <button class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-twitter"></i></button>
              <button class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-facebook-square"></i></button>
              <button class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-dribbble"></i></button>
              <button class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-google"></i></button>
              <button class="bg-gray-800 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-instagram"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div
        data-aos="fade-down-left"
        data-aos-duration="1200"
        data-aos-offset="100"
        class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
          <img alt="..." src="https://demos.creative-tim.com/tailwindcss-starter-project/_next/static/images/team-1-800x800-fa5a7ac2c81a43925586ea85f2fea332.jpg" class="shadow-lg rounded-full mx-auto w-40 h-40 object-cover">
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rodrigo Arteaga</font></font></h5>
            <p class="mt-1 text-sm text-gray-500 uppercase font-semibold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">FOUNDER CEO</font></font></p>
            <div class="mt-6">
              <button class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-twitter"></i></button>
              <button class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-facebook-square"></i></button>
              <button class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-dribbble"></i></button>
              <button class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-google"></i></button>
              <button class="bg-gray-800 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"><i class="fab fa-instagram"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>