
/* In your CSS */
:root {
  --primary-color: #0D4FA6;
  --primary-HS: 214, 85%;
  --primary-HSL: 214, 85%, 35%;
  --secondary-color: #252D59;
  --secondary-HS: 231, 41%;
  --secondary-HSL: 231, 41%, 25%;
  --accent-color: #8fc9ff;
  --accent-HS: 209, 100%;
  --accent-HSL: 209, 100%, 78%;
  --accent-2-color: #03619b;
  --accent-2-HS: 203, 96%;
  --accent-2-HSL: 203, 96%, 31%;
  --text-color: #282d31;
  --text-HS: 207, 10%;
  --text-HSL: 207, 10%, 17%;
  --error-color: #F22233;
  --error-HS: 355, 89%;
  --error-HSL: 355, 89%, 54%;
  --warning-color: #fba905;
  --warning-HS: 40, 97%;
  --warning-HSL: 40, 97%, 50%;
  --success-color: #04d755;
  --success-HS: 143, 96%;
  --success-HSL: 143, 96%, 43%;
  --info-color: #08bcc9;
  --info-HS: 184, 92%;
  --info-HSL: 184, 92%, 41%;
  
  --light-color: #F6F9FE;
  --light-HS: 218, 80%;
  --light-HSL: 218, 80%, 98%;
  --dark-color: #252D59;
  --dark-HS: 231, 41%;
  --dark-HSL: 231, 41%, 25%;
  
  --theme-color: var(--light-color);
  --theme-050: hsl(var(--light-HS), 100%);
  --theme-100: hsl(var(--light-HS), 99%);
  --theme-150: hsl(var(--light-HS), 98%);
  --theme-200: hsl(var(--light-HS), 97%);
  --theme-250: hsl(var(--light-HS), 96%);
  --theme-300: hsl(var(--light-HS), 95%);
  --theme-350: hsl(var(--light-HS), 94%);
  --theme-400: hsl(var(--light-HS), 93%);
  --theme-450: hsl(var(--light-HS), 92%);
  --theme-500: hsl(var(--light-HS), 91%);
  --theme-550: hsl(var(--light-HS), 90%);
  --theme-600: hsl(var(--light-HS), 89%);
  --theme-650: hsl(var(--light-HS), 88%);
  --theme-700: hsl(var(--light-HS), 87%);
  --theme-750: hsl(var(--light-HS), 86%);
  --theme-800: hsl(var(--light-HS), 85%);
  --theme-850: hsl(var(--light-HS), 84%);
  --theme-900: hsl(var(--light-HS), 83%);
  --theme-950: hsl(var(--light-HS), 82%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --light-color: #F6F9FE;
    --light-HS: 218, 80%;
    --light-HSL: 218, 80%, 98%;
    --dark-color: #252D59;
    --dark-HS: 231, 41%;
    --dark-HSL: 231, 41%, 25%;

    --theme-color: var(--dark-color);
    --theme-050: hsl(var(--dark-HS), 15%);
    --theme-100: hsl(var(--dark-HS), 20%);
    --theme-150: hsl(var(--dark-HS), 25%);
    --theme-200: hsl(var(--dark-HS), 30%);
    --theme-250: hsl(var(--dark-HS), 35%);
    --theme-300: hsl(var(--dark-HS), 40%);
    --theme-350: hsl(var(--dark-HS), 45%);
    --theme-400: hsl(var(--dark-HS), 50%);
    --theme-450: hsl(var(--dark-HS), 55%);
    --theme-500: hsl(var(--dark-HS), 60%);
    --theme-550: hsl(var(--dark-HS), 65%);
    --theme-600: hsl(var(--dark-HS), 70%);
    --theme-650: hsl(var(--dark-HS), 75%);
    --theme-700: hsl(var(--dark-HS), 80%);
    --theme-750: hsl(var(--dark-HS), 85%);
    --theme-800: hsl(var(--dark-HS), 90%);
    --theme-850: hsl(var(--dark-HS), 95%);
    --theme-900: hsl(var(--dark-HS), 100%);

    --text-color: #fcfcfc;
    --text-HS: 0, 0%;
    --text-HSL: 0, 0%, 99%;

    --primary-color: #fcfcfc;
    --primary-HS: 0, 0%;
    --primary-HSL: 0, 0%, 99%;
    --secondary-color: #fcfcfc;
    --secondary-HS: 0, 0%;
    --secondary-HSL: 0, 0%, 99%;
    --accent-color: #9edaff;
    --accent-HS: 203, 100%;
    --accent-HSL: 203, 100%, 81%;
    --accent-2-color: #005fb8;
    --accent-2-HS: 209, 100%;
    --accent-2-HSL: 209, 100%, 36%;
    --error-color: #ff3c32;
    --error-HS: 3, 100%;
    --error-HSL: 3, 100%, 60%;
    --warning-color: #fba905;
    --warning-HS: 40, 97%;
    --warning-HSL: 40, 97%, 50%;
    --success-color: #00bf38;
    --success-HS: 138, 100%;
    --success-HSL: 138, 100%, 37%;
    --info-color: #00b5c2;
    --info-HS: 184, 100%;
    --info-HSL: 184, 100%, 38%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --light-color: #F6F9FE;
    --light-HS: 218, 80%;
    --light-HSL: 218, 80%, 98%;
    --dark-color: #252D59;
    --dark-HS: 231, 41%;
    --dark-HSL: 231, 41%, 25%;
    
    --theme-color: var(--light-color);
    --theme-050: hsl(var(--light-HS), 100%);
    --theme-100: hsl(var(--light-HS), 99%);
    --theme-150: hsl(var(--light-HS), 98%);
    --theme-200: hsl(var(--light-HS), 97%);
    --theme-250: hsl(var(--light-HS), 96%);
    --theme-300: hsl(var(--light-HS), 95%);
    --theme-350: hsl(var(--light-HS), 94%);
    --theme-400: hsl(var(--light-HS), 93%);
    --theme-450: hsl(var(--light-HS), 92%);
    --theme-500: hsl(var(--light-HS), 91%);
    --theme-550: hsl(var(--light-HS), 90%);
    --theme-600: hsl(var(--light-HS), 89%);
    --theme-650: hsl(var(--light-HS), 88%);
    --theme-700: hsl(var(--light-HS), 87%);
    --theme-750: hsl(var(--light-HS), 86%);
    --theme-800: hsl(var(--light-HS), 85%);
    --theme-850: hsl(var(--light-HS), 84%);
    --theme-900: hsl(var(--light-HS), 83%);
    --theme-950: hsl(var(--light-HS), 82%);

    --primary-color: #0D4FA6;
    --primary-HS: 214, 85%;
    --primary-HSL: 214, 85%, 35%;
    --secondary-color: #252D59;
    --secondary-HS: 231, 41%;
    --secondary-HSL: 231, 41%, 25%;
    --accent-color: #8fc9ff;
    --accent-HS: 209, 100%;
    --accent-HSL: 209, 100%, 78%;
    --accent-2-color: #03619b;
    --accent-2-HS: 203, 96%;
    --accent-2-HSL: 203, 96%, 31%;
    --text-color: #282d31;
    --text-HS: 207, 10%;
    --text-HSL: 207, 10%, 17%;
    --error-color: #F22233;
    --error-HS: 355, 89%;
    --error-HSL: 355, 89%, 54%;
    --warning-color: #fba905;
    --warning-HS: 40, 97%;
    --warning-HSL: 40, 97%, 50%;
    --success-color: #04d755;
    --success-HS: 143, 96%;
    --success-HSL: 143, 96%, 43%;
    --info-color: #08bcc9;
    --info-HS: 184, 92%;
    --info-HSL: 184, 92%, 41%;
  }
}

.theme--light {
  --theme-color: #FAFCFF;
  --theme-HS: 216, 100%;
  --theme-HSL: 216, 100%, 99%;
  --text-color: #282d31;
  --text-HS: 207, 10%;
  --text-HSL: 207, 10%, 17%;
  color: var(--text-color);
  background: var(--theme-color);
}
.theme--dark {
  --theme-HS: 221, 27%;
  --theme-HSL: 221, 27%, 20%;
  --theme-color: var(--dark-color);
  --theme-050: hsl(var(--dark-HS), 15%);
  --theme-100: hsl(var(--dark-HS), 20%);
  --theme-150: hsl(var(--dark-HS), 25%);
  --theme-200: hsl(var(--dark-HS), 30%);
  --theme-250: hsl(var(--dark-HS), 35%);
  --theme-300: hsl(var(--dark-HS), 40%);
  --theme-350: hsl(var(--dark-HS), 45%);
  --theme-400: hsl(var(--dark-HS), 50%);
  --theme-450: hsl(var(--dark-HS), 55%);
  --theme-500: hsl(var(--dark-HS), 60%);
  --theme-550: hsl(var(--dark-HS), 65%);
  --theme-600: hsl(var(--dark-HS), 70%);
  --theme-650: hsl(var(--dark-HS), 75%);
  --theme-700: hsl(var(--dark-HS), 80%);
  --theme-750: hsl(var(--dark-HS), 85%);
  --theme-800: hsl(var(--dark-HS), 90%);
  --theme-850: hsl(var(--dark-HS), 95%);
  --theme-900: hsl(var(--dark-HS), 100%);
  --text-color: #fcfcfc;
  --text-HS: 0, 0%;
  --text-HSL: 0, 0%, 99%;
  color: var(--text-color);
  // background: var(--theme-color);
}