.headroom {}
.headroom--top {
  --primary-color: #fff;
  color: #fff;
  &.main-header {
    background: linear-gradient(#242d59, transparent);
    a {
      color: white;
    }
  }
  .main-header--show {
    background-color: #242d59;
  }
  .actel-svg, .networks-svg {
    fill: rgba(255, 255, 255, 0.8)
  }
  .theme-mode {
    display: none;
  }
  .logo-container svg{
    transform-origin: top;
  }
}
.headroom--not-top {
  color: var(--primary-color);
  &.main-header {
    background: var(--theme-color);
    box-shadow: 0px 2px 4px 0px hsla(var(--text-HSL), 0.1), 0 4px 6px 1px hsla(var(--text-HSL), 0.06);
    .logo-container {
      svg {
        height: 4rem;
      }
    }
  }
  .actel-svg, .networks-svg {
    fill: var(--primary-color);
  }
  .theme-mode {
    display: block;
  }
}
.headroom--not-bottom {}
.headroom--pinned {}
.headroom--unpinned {}
