.logo-initial {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  position: relative;
}
.scroll-down {
  position: relative;
  bottom: 1.5rem;
  right: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
}
.mouse {
  width: 3px;
  padding: 8px 13px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 1;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  -webkit-animation-name: scroll;
  animation-name: scroll;
  -webkit-animation-duration: 2.2s;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
  @keyframes scroll {
    0% {
      opacity: 0;
    }
    10% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(15px);
      opacity: 0;
    }
  }
}

.particles-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: rotate(90%);
}
