.anim-underline, .anim-underline {
  position: relative;
}
.anim-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -0.5rem;
  background: var(--primary-color);
  height: 4px;
  border-radius: 5px;
  transition-property: right;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}
.scroll-active {
  .anim-underline:before, .anim-underline:before, .anim-underline:before {
    right: 0;
  }
}
.anim-underline:active:before, .anim-underline:focus:before, .anim-underline:hover:before {
  right: 0;
}